[general]
import = ["~/.config/alacritty/colors.toml"]

[window]
opacity = 0.9
padding = { x = 4, y = 4 }

[cursor.style]
shape = "Beam"
blinking = "Always"

[cursor]
blink_interval = 500

[font]
size = 11.0

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

